[Desktop Entry]
Type=Application
Exec=gnome-terminal -e "cmus"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=cmus
Name=cmus
Comment[en_US]=Open cmus
Comment=Open cmus
