[Desktop Entry]
Type=Application
Exec=gnome-pomodoro --start
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Pomodoro
Name=Pomodoro
Comment[en_US]=Open pomodoro as background service
Comment=Open pomodoro as background service
