[Desktop Entry]
Type=Application
Exec=redshift-gtk
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Redshift
Name=Redshift
Comment[en_US]=Run Redshift
Comment=Run Redshift
